<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Lab: Exploring the Dataset**

Estimated time needed: **30** minutes

## Introduction

Data exploration is the initial phase of data analysis where we aim to understand the data's characteristics, identify patterns, and uncover potential insights. It is a crucial step that helps us make informed decisions about subsequent analysis.

## Objectives

After completing this lab, you will be able to:

-   Summarize the key characteristics of a dataset.
-   Identify different data types commonly used in data analysis.

### Install the required library

In [3]:
import micropip

await micropip.install('pandas')

# Import pandas after installation
import pandas as pd
print(pd.__version__)

2.2.0

## Load the dataset

<h3>Read Data</h3>
<p>
We utilize the <code>pandas.read_csv()</code> function for reading CSV files. However, in this version of the lab, which operates on JupyterLite, the dataset needs to be downloaded to the interface using the provided code below.
</p>

The functions below will download the dataset into your browser:

In [4]:
from pyodide.http import pyfetch

async def download(url, filename):
    response = await pyfetch(url)
    if response.status == 200:
        with open(filename, "wb") as f:
            f.write(await response.bytes())

In [5]:
file_path = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"

To obtain the dataset, utilize the download() function as defined above:

In [6]:
await download(file_path, "survey_data.csv")
file_name="survey_data.csv"

Utilize the Pandas method read_csv() to load the data into a dataframe.

In [7]:
df = pd.read_csv(file_name)

> Note: This version of the lab is working on JupyterLite, which requires the dataset to be downloaded to the interface.While working on the downloaded version of this notebook on their local machines(Jupyter Anaconda), the learners can simply **skip the steps above,** and simply use the URL directly in the `pandas.read_csv()` function. You can uncomment and run the statements in the cell below.

# Hands on Lab

## Explore the dataset

It is a good idea to print the top 5 rows of the dataset to get a feel of how the dataset will look.

Display the top 5 rows and columns from your dataset.

In [9]:
## Write your code here
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

## Find out the number of rows and columns

Start by exploring the numbers of rows and columns of data in the dataset.

Print the number of rows in the dataset.

In [13]:
## Write your code here
num_rows, num_columns = df.shape

print("Nombre de lignes :", num_rows)
print("Nombre de colonnes :", num_columns)

Nombre de lignes : 65437
Nombre de colonnes : 114

Print the number of columns in the dataset.

In [15]:
## Write your code here
num_rows, num_columns = df.shape

print("Nombre de lignes :", num_rows)
print("Nombre de colonnes :", num_columns)

Nombre de lignes : 65437
Nombre de colonnes : 114

## Identify the data types of each column

Explore the dataset and identify the data types of each column.

Print the datatype of all columns.

In [16]:
## Write your code here
print(df.dtypes)

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Print the mean age of the survey participants.

In [18]:
## Write your code here
df = pd.DataFrame({"Age": [
    "Under 18 years old", "18-24 years old", "25-34 years old", 
    "35-44 years old", "45-54 years old", "55-64 years old", 
    "65 years or older", "Prefer not to say"
]})

# Dictionnaire de conversion des catégories d'âge en valeurs numériques approximatives
age_mapping = {
    "Under 18 years old": 17,  # Supposons une moyenne de 17 ans
    "18-24 years old": 21,  # Moyenne de 21 ans
    "25-34 years old": 29.5,  # Moyenne de 29.5 ans
    "35-44 years old": 39.5,  # Moyenne de 39.5 ans
    "45-54 years old": 49.5,  # Moyenne de 49.5 ans
    "55-64 years old": 59.5,  # Moyenne de 59.5 ans
    "65 years or older": 70,  # Supposons 70 ans
}

# Remplacement des tranches d'âge par leurs valeurs numériques
df["Age"] = df["Age"].map(age_mapping)

# Suppression des valeurs NaN (par exemple, "Prefer not to say")
df = df.dropna()

# Calcul de l'âge moyen
mean_age = df["Age"].mean()
print("Âge moyen des participants :", mean_age)

Âge moyen des participants : 40.857142857142854

The dataset is the result of a world wide survey. Print how many unique countries are there in the Country column.

In [19]:
## Write your code here
unique_countries = df["Country"].nunique()  # Remplacez "Country" par le vrai nom de la colonne
print("Nombre de pays uniques :", unique_countries)

<class 'KeyError'>: 'Country'

Copyright ©  IBM Corporation. All rights reserved.